In [482]:
import pandas as pd
df = pd.read_csv('../notebooks/Myocardial infarction complications Database (1).csv')
df.head(1700)

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [483]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Columns: 124 entries, ID to LET_IS
dtypes: float64(110), int64(14)
memory usage: 1.6 MB

#Colunas com mais de 90% de valores vazios e colunas referentes a outros tipos de complicações que não são o nosso foco no momento.

In [484]:
lista_de_delete = ["ID", "IBS_NASL", "KFK_BLOOD", "JELUD_TAH", "FIBR_JELUD", "A_V_BLOK", "OTEK_LANC", "RAZRIV", "DRESSLER", "REC_IM", "P_IM_STEN", "LET_IS", "PREDS_TAH", "FIBR_PREDS"]
df = df.drop(lista_de_delete, axis=1)
df.head(1700)

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0
2,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0
3,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
4,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,77.0,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1696,70.0,0,0.0,6.0,2.0,1.0,2.0,0.0,7.0,0.0,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1697,55.0,1,3.0,6.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0
1698,79.0,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,NaN,...,NaN,NaN,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0
1699,63.0,1,2.0,NaN,NaN,NaN,2.0,0.0,NaN,4.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Tirando a mediana da idade, e atribuindo aos valores faltantes.

In [485]:
mediana = df["AGE"].median()
print(mediana)
df["AGE"].fillna(mediana, inplace=True)
existem_nulos = df["AGE"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

63.0
Não existem valores nulos na coluna.

In [486]:
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [487]:
moda = df["INF_ANAM"].mode().values[0]
print("moda =",moda)
df["INF_ANAM"].fillna(moda, inplace=True)
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [488]:
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [489]:
moda = df["STENOK_AN"].mode().values[0]
print("moda =",moda)
df["STENOK_AN"].fillna(moda, inplace=True)
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [490]:
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [491]:
moda = df["FK_STENOK"].mode().values[0]
print("moda =",moda)
df["FK_STENOK"].fillna(moda, inplace=True)
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [492]:
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [493]:
moda = df["IBS_POST"].mode().values[0]
print("moda =",moda)
df["IBS_POST"].fillna(moda, inplace=True)
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [494]:
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [495]:
moda = df["GB"].mode().values[0]
print("moda =",moda)
df["GB"].fillna(moda, inplace=True)
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [496]:
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [497]:
moda = df["SIM_GIPERT"].mode().values[0]
print("moda =",moda)
df["SIM_GIPERT"].fillna(moda, inplace=True)
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [498]:
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [499]:
moda = df["DLIT_AG"].mode().values[0]
print("moda =",moda)
df["DLIT_AG"].fillna(moda, inplace=True)
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [500]:
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [501]:
moda = df["ZSN_A"].mode().values[0]
print("moda =",moda)
df["ZSN_A"].fillna(moda, inplace=True)
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [502]:
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [503]:
moda = df["nr_11"].mode().values[0]
print("moda =",moda)
df["nr_11"].fillna(moda, inplace=True)
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [504]:
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [505]:
moda = df["nr_01"].mode().values[0]
print("moda =",moda)
df["nr_01"].fillna(moda, inplace=True)
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [506]:
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [507]:
moda = df["nr_02"].mode().values[0]
print("moda =",moda)
df["nr_02"].fillna(moda, inplace=True)
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [508]:
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [509]:
moda = df["nr_03"].mode().values[0]
print("moda =",moda)
df["nr_03"].fillna(moda, inplace=True)
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [510]:
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [511]:
moda = df["nr_04"].mode().values[0]
print("moda =",moda)
df["nr_04"].fillna(moda, inplace=True)
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [512]:
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [513]:
moda = df["nr_07"].mode().values[0]
print("moda =",moda)
df["nr_07"].fillna(moda, inplace=True)
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [514]:
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [515]:
moda = df["nr_08"].mode().values[0]
print("moda =",moda)
df["nr_08"].fillna(moda, inplace=True)
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [516]:
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [517]:
moda = df["np_01"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [518]:
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [519]:
moda = df["np_04"].mode().values[0]
print("moda =",moda)
df["np_04"].fillna(moda, inplace=True)
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [520]:
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [521]:
moda = df["np_05"].mode().values[0]
print("moda =",moda)
df["np_05"].fillna(moda, inplace=True)
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [522]:
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [523]:
moda = df["np_07"].mode().values[0]
print("moda =",moda)
df["np_07"].fillna(moda, inplace=True)
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [524]:
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [525]:
moda = df["np_08"].mode().values[0]
print("moda =",moda)
df["np_08"].fillna(moda, inplace=True)
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [526]:
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [527]:
moda = df["np_09"].mode().values[0]
print("moda =",moda)
df["np_09"].fillna(moda, inplace=True)
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [528]:
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [529]:
moda = df["np_10"].mode().values[0]
print("moda =",moda)
df["np_10"].fillna(moda, inplace=True)
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [530]:
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [531]:
moda = df["endocr_01"].mode().values[0]
print("moda =",moda)
df["endocr_01"].fillna(moda, inplace=True)
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [532]:
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [533]:
moda = df["endocr_02"].mode().values[0]
print("moda =",moda)
df["endocr_02"].fillna(moda, inplace=True)
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [534]:
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [535]:
moda = df["endocr_03"].mode().values[0]
print("moda =",moda)
df["endocr_03"].fillna(moda, inplace=True)
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [536]:
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [537]:
moda = df["zab_leg_01"].mode().values[0]
print("moda =",moda)
df["zab_leg_01"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [538]:
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [539]:
moda = df["zab_leg_02"].mode().values[0]
print("moda =",moda)
df["zab_leg_02"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [540]:
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [541]:
moda = df["zab_leg_03"].mode().values[0]
print("moda =",moda)
df["zab_leg_03"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [542]:
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [543]:
moda = df["zab_leg_06"].mode().values[0]
print("moda =",moda)
df["zab_leg_06"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [544]:
existem_nulos = df["S_AD_KBRIG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

A coluna "S_AD_KBRIG" e "D_AD_KBRIG" tem cerca de 63% de dados faltantes

In [545]:
existem_nulos = df["S_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [546]:
mediana = df["S_AD_ORIT"].median()
print("mediana =",mediana)
df["S_AD_ORIT"].fillna(mediana, inplace=True)
existem_nulos = df["S_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

mediana = 130.0
Não existem valores nulos na coluna.

In [547]:
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [548]:
mediana = df["D_AD_ORIT"].median()
print("mediana =",mediana)
df["D_AD_ORIT"].fillna(mediana, inplace=True)
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

mediana = 80.0
Não existem valores nulos na coluna.

In [549]:
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [550]:
moda = df["O_L_POST"].mode().values[0]
print("moda =",moda)
df["O_L_POST"].fillna(moda, inplace=True)
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [551]:
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [552]:
moda = df["K_SH_POST"].mode().values[0]
print("moda =",moda)
df["K_SH_POST"].fillna(moda, inplace=True)
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [553]:
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [554]:
moda = df["MP_TP_POST"].mode().values[0]
print("moda =",moda)
df["MP_TP_POST"].fillna(moda, inplace=True)
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [555]:
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [556]:
moda = df["SVT_POST"].mode().values[0]
print("moda =",moda)
df["SVT_POST"].fillna(moda, inplace=True)
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [557]:
existem_nulos = df["GT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [558]:
moda = df["GT_POST"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [559]:
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [560]:
moda = df["FIB_G_POST"].mode().values[0]
print("moda =",moda)
df["FIB_G_POST"].fillna(moda, inplace=True)
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [561]:
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [562]:
moda = df["ant_im"].mode().values[0]
print("moda =",moda)
df["ant_im"].fillna(moda, inplace=True)
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [563]:
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [564]:
moda = df["lat_im"].mode().values[0]
print("moda =",moda)
df["lat_im"].fillna(moda, inplace=True)
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [565]:
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [566]:
moda = df["inf_im"].mode().values[0]
print("moda =",moda)
df["inf_im"].fillna(moda, inplace=True)
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [567]:
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [568]:
moda = df["post_im"].mode().values[0]
print("moda =",moda)
df["post_im"].fillna(moda, inplace=True)
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [569]:
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [570]:
moda = df["IM_PG_P"].mode().values[0]
print("moda =",moda)
df["IM_PG_P"].fillna(moda, inplace=True)
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [571]:
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [572]:
moda = df["ritm_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [573]:
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [574]:
moda = df["ritm_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [575]:
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [576]:
moda = df["ritm_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [577]:
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [578]:
moda = df["ritm_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [579]:
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [580]:
moda = df["ritm_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [581]:
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [582]:
moda = df["ritm_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [583]:
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [584]:
moda = df["n_r_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [585]:
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [586]:
moda = df["n_r_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [587]:
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [588]:
moda = df["n_r_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [589]:
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [590]:
moda = df["n_r_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [591]:
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [592]:
moda = df["n_r_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [593]:
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [594]:
moda = df["n_r_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [595]:
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [596]:
moda = df["n_r_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [597]:
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [598]:
moda = df["n_r_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [599]:
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [600]:
moda = df["n_r_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [601]:
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [602]:
moda = df["n_p_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [603]:
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [604]:
moda = df["n_p_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [605]:
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [606]:
moda = df["n_p_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [607]:
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [608]:
moda = df["n_p_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [609]:
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [610]:
moda = df["n_p_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [611]:
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [612]:
moda = df["n_p_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [613]:
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [614]:
moda = df["n_p_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [615]:
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [616]:
moda = df["n_p_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [617]:
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [618]:
moda = df["n_p_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [619]:
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [620]:
moda = df["n_p_ecg_p_11"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_11"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [621]:
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [622]:
moda = df["n_p_ecg_p_12"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_12"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [623]:
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [624]:
moda = df["fibr_ter_01"].mode().values[0]
print("moda =",moda)
df["fibr_ter_01"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [625]:
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [626]:
moda = df["fibr_ter_02"].mode().values[0]
print("moda =",moda)
df["fibr_ter_02"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [627]:
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [628]:
moda = df["fibr_ter_03"].mode().values[0]
print("moda =",moda)
df["fibr_ter_03"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [629]:
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [630]:
moda = df["fibr_ter_05"].mode().values[0]
print("moda =",moda)
df["fibr_ter_05"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [631]:
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [632]:
moda = df["fibr_ter_06"].mode().values[0]
print("moda =",moda)
df["fibr_ter_06"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [633]:
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [634]:
moda = df["fibr_ter_07"].mode().values[0]
print("moda =",moda)
df["fibr_ter_07"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [635]:
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [636]:
moda = df["fibr_ter_08"].mode().values[0]
print("moda =",moda)
df["fibr_ter_08"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [637]:
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [638]:
moda = df["LID_S_n"].mode().values[0]
print("moda =",moda)
df["LID_S_n"].fillna(moda, inplace=True)
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [639]:
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [640]:
moda = df["B_BLOK_S_n"].mode().values[0]
print("moda =",moda)
df["B_BLOK_S_n"].fillna(moda, inplace=True)
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [641]:
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [642]:
moda = df["ANT_CA_S_n"].mode().values[0]
print("moda =",moda)
df["ANT_CA_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [643]:
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [644]:
moda = df["GEPAR_S_n"].mode().values[0]
print("moda =",moda)
df["GEPAR_S_n"].fillna(moda, inplace=True)
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [645]:
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [646]:
moda = df["ASP_S_n"].mode().values[0]
print("moda =",moda)
df["ASP_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [647]:
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [648]:
moda = df["TIKL_S_n"].mode().values[0]
print("moda =",moda)
df["TIKL_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [649]:
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [650]:
moda = df["TRENT_S_n"].mode().values[0]
print("moda =",moda)
df["TRENT_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [651]:
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [652]:
moda = df["R_AB_1_n"].mode().values[0]
print("moda =",moda)
df["R_AB_1_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [653]:
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [654]:
moda = df["NA_R_1_n"].mode().values[0]
print("moda =",moda)
df["NA_R_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [655]:
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [656]:
moda = df["NOT_NA_1_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [657]:
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [658]:
moda = df["R_AB_2_n"].mode().values[0]
print("moda =",moda)
df["R_AB_2_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [659]:
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [660]:
moda = df["NA_R_2_n"].mode().values[0]
print("moda =",moda)
df["NA_R_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [661]:
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [662]:
moda = df["NOT_NA_2_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [663]:
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [664]:
moda = df["NA_R_3_n"].mode().values[0]
print("moda =",moda)
df["NA_R_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [665]:
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [666]:
moda = df["NOT_NA_3_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [667]:
mediana = df["L_BLOOD"].median()
print("mediana =",mediana)
df["L_BLOOD"].fillna(mediana, inplace=True)
existem_nulos = df["L_BLOOD"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

mediana = 8.0
Não existem valores nulos na coluna.