In [1]:
import pandas as pd
df = pd.read_csv('../notebooks/Myocardial infarction complications Database (1).csv')
df.head(1700)

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Columns: 124 entries, ID to LET_IS
dtypes: float64(110), int64(14)
memory usage: 1.6 MB

#Colunas com mais de 90% de valores vazios e colunas referentes a outros tipos de complicaÃ§Ãµes que nÃ£o sÃ£o o nosso foco no momento.

In [3]:
lista_de_delete = ["ID", "IBS_NASL", "KFK_BLOOD", "JELUD_TAH", "FIBR_JELUD", "A_V_BLOK", "OTEK_LANC", "RAZRIV", "DRESSLER", "REC_IM", "P_IM_STEN", "LET_IS", "PREDS_TAH", "FIBR_PREDS"]
df = df.drop(lista_de_delete, axis=1)
df.head(1700)

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0
2,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0
3,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
4,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,77.0,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1696,70.0,0,0.0,6.0,2.0,1.0,2.0,0.0,7.0,0.0,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1697,55.0,1,3.0,6.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0
1698,79.0,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,NaN,...,NaN,NaN,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0
1699,63.0,1,2.0,NaN,NaN,NaN,2.0,0.0,NaN,4.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Tirando a mediana da idade, e atribuindo aos valores faltantes.

In [4]:
mediana = df["AGE"].median()
print(mediana)
df["AGE"].fillna(mediana, inplace=True)
existem_nulos = df["AGE"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

63.0
NÃ£o existem valores nulos na coluna.

In [5]:
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [6]:
moda = df["INF_ANAM"].mode().values[0]
print("moda =",moda)
df["INF_ANAM"].fillna(moda, inplace=True)
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [7]:
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [8]:
moda = df["STENOK_AN"].mode().values[0]
print("moda =",moda)
df["STENOK_AN"].fillna(moda, inplace=True)
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [9]:
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [10]:
moda = df["FK_STENOK"].mode().values[0]
print("moda =",moda)
df["FK_STENOK"].fillna(moda, inplace=True)
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 2.0
NÃ£o existem valores nulos na coluna.

In [11]:
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [12]:
moda = df["IBS_POST"].mode().values[0]
print("moda =",moda)
df["IBS_POST"].fillna(moda, inplace=True)
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 2.0
NÃ£o existem valores nulos na coluna.

In [13]:
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [14]:
moda = df["GB"].mode().values[0]
print("moda =",moda)
df["GB"].fillna(moda, inplace=True)
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 2.0
NÃ£o existem valores nulos na coluna.

In [15]:
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [16]:
moda = df["SIM_GIPERT"].mode().values[0]
print("moda =",moda)
df["SIM_GIPERT"].fillna(moda, inplace=True)
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [17]:
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [18]:
moda = df["DLIT_AG"].mode().values[0]
print("moda =",moda)
df["DLIT_AG"].fillna(moda, inplace=True)
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [19]:
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [20]:
moda = df["ZSN_A"].mode().values[0]
print("moda =",moda)
df["ZSN_A"].fillna(moda, inplace=True)
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [21]:
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [22]:
moda = df["nr_11"].mode().values[0]
print("moda =",moda)
df["nr_11"].fillna(moda, inplace=True)
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [23]:
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [24]:
moda = df["nr_01"].mode().values[0]
print("moda =",moda)
df["nr_01"].fillna(moda, inplace=True)
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [25]:
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [26]:
moda = df["nr_02"].mode().values[0]
print("moda =",moda)
df["nr_02"].fillna(moda, inplace=True)
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [27]:
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [28]:
moda = df["nr_03"].mode().values[0]
print("moda =",moda)
df["nr_03"].fillna(moda, inplace=True)
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [29]:
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [30]:
moda = df["nr_04"].mode().values[0]
print("moda =",moda)
df["nr_04"].fillna(moda, inplace=True)
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [31]:
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [32]:
moda = df["nr_07"].mode().values[0]
print("moda =",moda)
df["nr_07"].fillna(moda, inplace=True)
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [33]:
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [34]:
moda = df["nr_08"].mode().values[0]
print("moda =",moda)
df["nr_08"].fillna(moda, inplace=True)
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [35]:
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [36]:
moda = df["np_01"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [37]:
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [38]:
moda = df["np_04"].mode().values[0]
print("moda =",moda)
df["np_04"].fillna(moda, inplace=True)
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [39]:
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [40]:
moda = df["np_05"].mode().values[0]
print("moda =",moda)
df["np_05"].fillna(moda, inplace=True)
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [41]:
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [42]:
moda = df["np_07"].mode().values[0]
print("moda =",moda)
df["np_07"].fillna(moda, inplace=True)
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [43]:
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [44]:
moda = df["np_08"].mode().values[0]
print("moda =",moda)
df["np_08"].fillna(moda, inplace=True)
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [45]:
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [46]:
moda = df["np_09"].mode().values[0]
print("moda =",moda)
df["np_09"].fillna(moda, inplace=True)
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [47]:
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [48]:
moda = df["np_10"].mode().values[0]
print("moda =",moda)
df["np_10"].fillna(moda, inplace=True)
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [49]:
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [50]:
moda = df["endocr_01"].mode().values[0]
print("moda =",moda)
df["endocr_01"].fillna(moda, inplace=True)
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [51]:
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [52]:
moda = df["endocr_02"].mode().values[0]
print("moda =",moda)
df["endocr_02"].fillna(moda, inplace=True)
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [53]:
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [54]:
moda = df["endocr_03"].mode().values[0]
print("moda =",moda)
df["endocr_03"].fillna(moda, inplace=True)
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [55]:
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [56]:
moda = df["zab_leg_01"].mode().values[0]
print("moda =",moda)
df["zab_leg_01"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [57]:
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [58]:
moda = df["zab_leg_02"].mode().values[0]
print("moda =",moda)
df["zab_leg_02"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [59]:
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [60]:
moda = df["zab_leg_03"].mode().values[0]
print("moda =",moda)
df["zab_leg_03"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [61]:
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [62]:
moda = df["zab_leg_06"].mode().values[0]
print("moda =",moda)
df["zab_leg_06"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [63]:
existem_nulos = df["S_AD_KBRIG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

A coluna "S_AD_KBRIG" e "D_AD_KBRIG" tem cerca de 63% de dados faltantes

In [64]:
existem_nulos = df["S_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [65]:
mediana = df["S_AD_ORIT"].median()
print("mediana =",mediana)
df["S_AD_ORIT"].fillna(mediana, inplace=True)
existem_nulos = df["S_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

mediana = 130.0
NÃ£o existem valores nulos na coluna.

In [66]:
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [67]:
mediana = df["D_AD_ORIT"].median()
print("mediana =",mediana)
df["D_AD_ORIT"].fillna(mediana, inplace=True)
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

mediana = 80.0
NÃ£o existem valores nulos na coluna.

In [68]:
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [69]:
moda = df["O_L_POST"].mode().values[0]
print("moda =",moda)
df["O_L_POST"].fillna(moda, inplace=True)
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [70]:
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [71]:
moda = df["K_SH_POST"].mode().values[0]
print("moda =",moda)
df["K_SH_POST"].fillna(moda, inplace=True)
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [72]:
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [73]:
moda = df["MP_TP_POST"].mode().values[0]
print("moda =",moda)
df["MP_TP_POST"].fillna(moda, inplace=True)
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [74]:
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [75]:
moda = df["SVT_POST"].mode().values[0]
print("moda =",moda)
df["SVT_POST"].fillna(moda, inplace=True)
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [76]:
existem_nulos = df["GT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [77]:
moda = df["GT_POST"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [78]:
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [79]:
moda = df["FIB_G_POST"].mode().values[0]
print("moda =",moda)
df["FIB_G_POST"].fillna(moda, inplace=True)
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [80]:
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [81]:
moda = df["ant_im"].mode().values[0]
print("moda =",moda)
df["ant_im"].fillna(moda, inplace=True)
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [82]:
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [83]:
moda = df["lat_im"].mode().values[0]
print("moda =",moda)
df["lat_im"].fillna(moda, inplace=True)
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 1.0
NÃ£o existem valores nulos na coluna.

In [84]:
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [85]:
moda = df["inf_im"].mode().values[0]
print("moda =",moda)
df["inf_im"].fillna(moda, inplace=True)
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [86]:
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [87]:
moda = df["post_im"].mode().values[0]
print("moda =",moda)
df["post_im"].fillna(moda, inplace=True)
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [88]:
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [89]:
moda = df["IM_PG_P"].mode().values[0]
print("moda =",moda)
df["IM_PG_P"].fillna(moda, inplace=True)
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [90]:
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [91]:
moda = df["ritm_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 1.0
NÃ£o existem valores nulos na coluna.

In [92]:
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [93]:
moda = df["ritm_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [94]:
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [95]:
moda = df["ritm_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [96]:
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [97]:
moda = df["ritm_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [98]:
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [99]:
moda = df["ritm_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [100]:
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [101]:
moda = df["ritm_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [102]:
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [103]:
moda = df["n_r_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [104]:
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [105]:
moda = df["n_r_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [106]:
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [107]:
moda = df["n_r_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [108]:
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [109]:
moda = df["n_r_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [110]:
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [111]:
moda = df["n_r_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [112]:
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [113]:
moda = df["n_r_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [114]:
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [115]:
moda = df["n_r_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [116]:
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [117]:
moda = df["n_r_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [118]:
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [119]:
moda = df["n_r_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [120]:
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [121]:
moda = df["n_p_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [122]:
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [123]:
moda = df["n_p_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [124]:
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [125]:
moda = df["n_p_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [126]:
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [127]:
moda = df["n_p_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [128]:
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [129]:
moda = df["n_p_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [130]:
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [131]:
moda = df["n_p_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [132]:
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [133]:
moda = df["n_p_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [134]:
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [135]:
moda = df["n_p_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [136]:
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [137]:
moda = df["n_p_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [138]:
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [139]:
moda = df["n_p_ecg_p_11"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_11"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [140]:
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [141]:
moda = df["n_p_ecg_p_12"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_12"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [142]:
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [143]:
moda = df["fibr_ter_01"].mode().values[0]
print("moda =",moda)
df["fibr_ter_01"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [144]:
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [145]:
moda = df["fibr_ter_02"].mode().values[0]
print("moda =",moda)
df["fibr_ter_02"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [146]:
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [147]:
moda = df["fibr_ter_03"].mode().values[0]
print("moda =",moda)
df["fibr_ter_03"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [148]:
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [149]:
moda = df["fibr_ter_05"].mode().values[0]
print("moda =",moda)
df["fibr_ter_05"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [150]:
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [151]:
moda = df["fibr_ter_06"].mode().values[0]
print("moda =",moda)
df["fibr_ter_06"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [152]:
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [153]:
moda = df["fibr_ter_07"].mode().values[0]
print("moda =",moda)
df["fibr_ter_07"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [154]:
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [155]:
moda = df["fibr_ter_08"].mode().values[0]
print("moda =",moda)
df["fibr_ter_08"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [156]:
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [157]:
moda = df["LID_S_n"].mode().values[0]
print("moda =",moda)
df["LID_S_n"].fillna(moda, inplace=True)
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [158]:
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [159]:
moda = df["B_BLOK_S_n"].mode().values[0]
print("moda =",moda)
df["B_BLOK_S_n"].fillna(moda, inplace=True)
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [160]:
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [161]:
moda = df["ANT_CA_S_n"].mode().values[0]
print("moda =",moda)
df["ANT_CA_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 1.0
NÃ£o existem valores nulos na coluna.

In [162]:
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [163]:
moda = df["GEPAR_S_n"].mode().values[0]
print("moda =",moda)
df["GEPAR_S_n"].fillna(moda, inplace=True)
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 1.0
NÃ£o existem valores nulos na coluna.

In [164]:
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [165]:
moda = df["ASP_S_n"].mode().values[0]
print("moda =",moda)
df["ASP_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 1.0
NÃ£o existem valores nulos na coluna.

In [166]:
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [167]:
moda = df["TIKL_S_n"].mode().values[0]
print("moda =",moda)
df["TIKL_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [168]:
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [169]:
moda = df["TRENT_S_n"].mode().values[0]
print("moda =",moda)
df["TRENT_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [170]:
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [171]:
moda = df["R_AB_1_n"].mode().values[0]
print("moda =",moda)
df["R_AB_1_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [172]:
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [173]:
moda = df["NA_R_1_n"].mode().values[0]
print("moda =",moda)
df["NA_R_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [174]:
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [175]:
moda = df["NOT_NA_1_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [176]:
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [177]:
moda = df["R_AB_2_n"].mode().values[0]
print("moda =",moda)
df["R_AB_2_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [178]:
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [179]:
moda = df["NA_R_2_n"].mode().values[0]
print("moda =",moda)
df["NA_R_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [180]:
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [181]:
moda = df["NOT_NA_2_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [182]:
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [183]:
moda = df["NA_R_3_n"].mode().values[0]
print("moda =",moda)
df["NA_R_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [184]:
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [185]:
moda = df["NOT_NA_3_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

moda = 0.0
NÃ£o existem valores nulos na coluna.

In [186]:
mediana = df["L_BLOOD"].median()
print("mediana =",mediana)
df["L_BLOOD"].fillna(mediana, inplace=True)
existem_nulos = df["L_BLOOD"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("NÃ£o existem valores nulos na coluna.")

mediana = 8.0
NÃ£o existem valores nulos na coluna.

In [187]:
dataset_teste = 'dataset_teste.csv' 
df.to_csv(dataset_teste, index=False)

In [189]:
df.head(1700)

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0
2,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0
3,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
4,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,77.0,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1696,70.0,0,0.0,6.0,2.0,1.0,2.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1697,55.0,1,3.0,6.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0
1698,79.0,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0
1699,63.0,1,2.0,0.0,2.0,2.0,2.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0