In [162]:
import pandas as pd
df = pd.read_csv('../notebooks/Myocardial infarction complications Database (1).csv')
df.head(1700)

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Columns: 124 entries, ID to LET_IS
dtypes: float64(110), int64(14)
memory usage: 1.6 MB

#Coluna com mais de 90% de valores vazios

In [164]:
IBS = "IBS_NASL"
df = df.drop(IBS, axis=1)
df.head(1700)

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,2.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,2.0,0.0,NaN,...,0,0,0,0,0,0,0,0,0,1

In [165]:
KFK = "KFK_BLOOD"
df = df.drop(KFK, axis=1)
df.iloc[:, 80:90].head(5)

,fibr_ter_08,GIPO_K,K_BLOOD,GIPER_NA,NA_BLOOD,ALT_BLOOD,AST_BLOOD,L_BLOOD,ROE,TIME_B_S
0,0.0,0.0,4.7,0.0,138.0,NaN,NaN,8.0,16.0,4.0
1,0.0,1.0,3.5,0.0,132.0,0.38,0.18,7.8,3.0,2.0
2,0.0,0.0,4.0,0.0,132.0,0.30,0.11,10.8,NaN,3.0
3,0.0,1.0,3.9,0.0,146.0,0.75,0.37,NaN,NaN,2.0
4,0.0,1.0,3.5,0.0,132.0,0.45,0.22,8.3,NaN,9.0

In [166]:
df.head()

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,...,0,0,0,0,0,0,0,0,0,0

In [167]:
df = df.drop(df.iloc[:, 110: 118], axis=1)

In [168]:
df = df.drop(df.iloc[:, 111: 114], axis=1)

In [169]:
df = df.drop('ID', axis=1)
df.head(5)

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0
2,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0
3,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
4,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0

Tirando a mediana da idade, e atribuindo aos valores faltantes.

In [170]:
mediana = df["AGE"].median()
print(mediana)
df["AGE"].fillna(mediana, inplace=True)
existem_nulos = df["AGE"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

63.0
Não existem valores nulos na coluna.

In [171]:
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [172]:
moda = df["INF_ANAM"].mode().values[0]
print("moda =",moda)
df["INF_ANAM"].fillna(moda, inplace=True)
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [173]:
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [174]:
moda = df["STENOK_AN"].mode().values[0]
print("moda =",moda)
df["STENOK_AN"].fillna(moda, inplace=True)
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [175]:
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [176]:
moda = df["FK_STENOK"].mode().values[0]
print("moda =",moda)
df["FK_STENOK"].fillna(moda, inplace=True)
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [177]:
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [178]:
moda = df["IBS_POST"].mode().values[0]
print("moda =",moda)
df["IBS_POST"].fillna(moda, inplace=True)
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [179]:
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [180]:
moda = df["GB"].mode().values[0]
print("moda =",moda)
df["GB"].fillna(moda, inplace=True)
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [181]:
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [182]:
moda = df["SIM_GIPERT"].mode().values[0]
print("moda =",moda)
df["SIM_GIPERT"].fillna(moda, inplace=True)
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [183]:
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [184]:
moda = df["DLIT_AG"].mode().values[0]
print("moda =",moda)
df["DLIT_AG"].fillna(moda, inplace=True)
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [185]:
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [186]:
moda = df["ZSN_A"].mode().values[0]
print("moda =",moda)
df["ZSN_A"].fillna(moda, inplace=True)
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [187]:
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [188]:
moda = df["nr_11"].mode().values[0]
print("moda =",moda)
df["nr_11"].fillna(moda, inplace=True)
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [189]:
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [190]:
moda = df["nr_01"].mode().values[0]
print("moda =",moda)
df["nr_01"].fillna(moda, inplace=True)
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [191]:
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [192]:
moda = df["nr_02"].mode().values[0]
print("moda =",moda)
df["nr_02"].fillna(moda, inplace=True)
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [193]:
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [194]:
moda = df["nr_03"].mode().values[0]
print("moda =",moda)
df["nr_03"].fillna(moda, inplace=True)
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [195]:
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [196]:
moda = df["nr_04"].mode().values[0]
print("moda =",moda)
df["nr_04"].fillna(moda, inplace=True)
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [197]:
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [198]:
moda = df["nr_07"].mode().values[0]
print("moda =",moda)
df["nr_07"].fillna(moda, inplace=True)
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [199]:
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [200]:
moda = df["nr_08"].mode().values[0]
print("moda =",moda)
df["nr_08"].fillna(moda, inplace=True)
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [201]:
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [202]:
moda = df["np_01"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [203]:
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [204]:
moda = df["np_04"].mode().values[0]
print("moda =",moda)
df["np_04"].fillna(moda, inplace=True)
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [205]:
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [206]:
moda = df["np_05"].mode().values[0]
print("moda =",moda)
df["np_05"].fillna(moda, inplace=True)
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [207]:
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [208]:
moda = df["np_07"].mode().values[0]
print("moda =",moda)
df["np_07"].fillna(moda, inplace=True)
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [209]:
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [210]:
moda = df["np_08"].mode().values[0]
print("moda =",moda)
df["np_08"].fillna(moda, inplace=True)
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [211]:
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [212]:
moda = df["np_09"].mode().values[0]
print("moda =",moda)
df["np_09"].fillna(moda, inplace=True)
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [213]:
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [214]:
moda = df["np_10"].mode().values[0]
print("moda =",moda)
df["np_10"].fillna(moda, inplace=True)
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [215]:
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [216]:
moda = df["endocr_01"].mode().values[0]
print("moda =",moda)
df["endocr_01"].fillna(moda, inplace=True)
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [217]:
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [218]:
moda = df["endocr_02"].mode().values[0]
print("moda =",moda)
df["endocr_02"].fillna(moda, inplace=True)
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [219]:
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [220]:
moda = df["endocr_03"].mode().values[0]
print("moda =",moda)
df["endocr_03"].fillna(moda, inplace=True)
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [221]:
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [222]:
moda = df["zab_leg_01"].mode().values[0]
print("moda =",moda)
df["zab_leg_01"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [223]:
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [224]:
moda = df["zab_leg_02"].mode().values[0]
print("moda =",moda)
df["zab_leg_02"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [225]:
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [226]:
moda = df["zab_leg_03"].mode().values[0]
print("moda =",moda)
df["zab_leg_03"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [227]:
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [228]:
moda = df["zab_leg_06"].mode().values[0]
print("moda =",moda)
df["zab_leg_06"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [229]:
existem_nulos = df["S_AD_KBRIG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

A coluna "S_AD_KBRIG" e "S_AD_ORIT" tem cerca de 63% de dados faltantes

In [230]:
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [231]:
moda = df["D_AD_ORIT"].mode().values[0]
print("moda =",moda)
df["D_AD_ORIT"].fillna(moda, inplace=True)
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 80.0
Não existem valores nulos na coluna.

In [232]:
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [233]:
moda = df["O_L_POST"].mode().values[0]
print("moda =",moda)
df["O_L_POST"].fillna(moda, inplace=True)
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [234]:
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [235]:
moda = df["K_SH_POST"].mode().values[0]
print("moda =",moda)
df["K_SH_POST"].fillna(moda, inplace=True)
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [236]:
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [237]:
moda = df["MP_TP_POST"].mode().values[0]
print("moda =",moda)
df["MP_TP_POST"].fillna(moda, inplace=True)
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [238]:
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [239]:
moda = df["SVT_POST"].mode().values[0]
print("moda =",moda)
df["SVT_POST"].fillna(moda, inplace=True)
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [240]:
existem_nulos = df["GT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [241]:
moda = df["GT_POST"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [242]:
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [243]:
moda = df["FIB_G_POST"].mode().values[0]
print("moda =",moda)
df["FIB_G_POST"].fillna(moda, inplace=True)
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [244]:
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [245]:
moda = df["ant_im"].mode().values[0]
print("moda =",moda)
df["ant_im"].fillna(moda, inplace=True)
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [246]:
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [247]:
moda = df["lat_im"].mode().values[0]
print("moda =",moda)
df["lat_im"].fillna(moda, inplace=True)
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [248]:
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [249]:
moda = df["inf_im"].mode().values[0]
print("moda =",moda)
df["inf_im"].fillna(moda, inplace=True)
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [250]:
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [251]:
moda = df["post_im"].mode().values[0]
print("moda =",moda)
df["post_im"].fillna(moda, inplace=True)
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [252]:
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [253]:
moda = df["IM_PG_P"].mode().values[0]
print("moda =",moda)
df["IM_PG_P"].fillna(moda, inplace=True)
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [254]:
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [255]:
moda = df["ritm_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [256]:
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [257]:
moda = df["ritm_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [258]:
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [259]:
moda = df["ritm_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [260]:
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [261]:
moda = df["ritm_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [262]:
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [263]:
moda = df["ritm_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [264]:
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [265]:
moda = df["ritm_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [266]:
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [267]:
moda = df["n_r_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [268]:
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [269]:
moda = df["n_r_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [270]:
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [271]:
moda = df["n_r_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [272]:
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [273]:
moda = df["n_r_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [274]:
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [275]:
moda = df["n_r_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [276]:
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [277]:
moda = df["n_r_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [278]:
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [279]:
moda = df["n_r_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [280]:
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [281]:
moda = df["n_r_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [282]:
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [283]:
moda = df["n_r_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [284]:
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [285]:
moda = df["n_p_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [286]:
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [287]:
moda = df["n_p_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [288]:
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [289]:
moda = df["n_p_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [290]:
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [291]:
moda = df["n_p_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [292]:
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [293]:
moda = df["n_p_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [294]:
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [295]:
moda = df["n_p_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [296]:
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [297]:
moda = df["n_p_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [298]:
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [299]:
moda = df["n_p_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [300]:
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [301]:
moda = df["n_p_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [302]:
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [303]:
moda = df["n_p_ecg_p_11"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_11"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [304]:
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [305]:
moda = df["n_p_ecg_p_12"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_12"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [306]:
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [307]:
moda = df["fibr_ter_01"].mode().values[0]
print("moda =",moda)
df["fibr_ter_01"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [308]:
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [309]:
moda = df["fibr_ter_02"].mode().values[0]
print("moda =",moda)
df["fibr_ter_02"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [310]:
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [311]:
moda = df["fibr_ter_03"].mode().values[0]
print("moda =",moda)
df["fibr_ter_03"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [312]:
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [313]:
moda = df["fibr_ter_05"].mode().values[0]
print("moda =",moda)
df["fibr_ter_05"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [314]:
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [315]:
moda = df["fibr_ter_06"].mode().values[0]
print("moda =",moda)
df["fibr_ter_06"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [316]:
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [317]:
moda = df["fibr_ter_07"].mode().values[0]
print("moda =",moda)
df["fibr_ter_07"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [318]:
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [319]:
moda = df["fibr_ter_08"].mode().values[0]
print("moda =",moda)
df["fibr_ter_08"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [329]:
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [330]:
moda = df["LID_S_n"].mode().values[0]
print("moda =",moda)
df["LID_S_n"].fillna(moda, inplace=True)
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [331]:
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [332]:
moda = df["B_BLOK_S_n"].mode().values[0]
print("moda =",moda)
df["B_BLOK_S_n"].fillna(moda, inplace=True)
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [333]:
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [334]:
moda = df["ANT_CA_S_n"].mode().values[0]
print("moda =",moda)
df["ANT_CA_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [335]:
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [336]:
moda = df["GEPAR_S_n"].mode().values[0]
print("moda =",moda)
df["GEPAR_S_n"].fillna(moda, inplace=True)
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [337]:
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [338]:
moda = df["ASP_S_n"].mode().values[0]
print("moda =",moda)
df["ASP_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [339]:
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [340]:
moda = df["TIKL_S_n"].mode().values[0]
print("moda =",moda)
df["TIKL_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [341]:
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [342]:
moda = df["TRENT_S_n"].mode().values[0]
print("moda =",moda)
df["TRENT_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [343]:
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [344]:
moda = df["R_AB_1_n"].mode().values[0]
print("moda =",moda)
df["R_AB_1_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [345]:
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [346]:
moda = df["NA_R_1_n"].mode().values[0]
print("moda =",moda)
df["NA_R_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [347]:
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [348]:
moda = df["NOT_NA_1_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [349]:
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [350]:
moda = df["R_AB_2_n"].mode().values[0]
print("moda =",moda)
df["R_AB_2_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [351]:
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [352]:
moda = df["NA_R_2_n"].mode().values[0]
print("moda =",moda)
df["NA_R_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [353]:
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [354]:
moda = df["NOT_NA_2_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [355]:
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [356]:
moda = df["NA_R_3_n"].mode().values[0]
print("moda =",moda)
df["NA_R_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [357]:
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [358]:
moda = df["NOT_NA_3_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.