In [383]:
import pandas as pd
df = pd.read_csv('../notebooks/Myocardial infarction complications Database (1).csv')
df.head(1700)

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77.0,1,2.0,1.0,1.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,52.0,1,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,68.0,0,0.0,0.0,0.0,2.0,NaN,2.0,0.0,...,0,0,0,0,0,0,1,0,0,0
4,5,60.0,1,0.0,0.0,0.0,2.0,NaN,3.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,1696,77.0,0,0.0,4.0,2.0,1.0,NaN,2.0,0.0,...,0,0,1,0,1,0,0,0,0,3
1696,1697,70.0,0,0.0,6.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1697,1698,55.0,1,3.0,6.0,2.0,2.0,NaN,0.0,0.0,...,0,0,0,0,0,0,0,1,0,6
1698,1699,79.0,0,2.0,2.0,2.0,1.0,NaN,2.0,0.0,...,0,0,0,1,0,0,0,0,0,1
1699,1700,63.0,1,2.0,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [384]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1700 entries, 0 to 1699
Columns: 124 entries, ID to LET_IS
dtypes: float64(110), int64(14)
memory usage: 1.6 MB

#Colunas com mais de 90% de valores vazios e colunas referentes a outros tipos de complicações que não são o nosso foco no momento.

In [385]:
lista_de_delete = ["ID", "IBS_NASL", "KFK_BLOOD", "JELUD_TAH", "FIBR_JELUD", "A_V_BLOK", "OTEK_LANC", "RAZRIV", "DRESSLER", "REC_IM", "P_IM_STEN", "LET_IS", "PREDS_TAH", "FIBR_PREDS"]
df = df.drop(lista_de_delete, axis=1)
df.head(1700)

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0
2,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0
3,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
4,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,77.0,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,0.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1696,70.0,0,0.0,6.0,2.0,1.0,2.0,0.0,7.0,0.0,...,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1697,55.0,1,3.0,6.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0
1698,79.0,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,NaN,...,NaN,NaN,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0
1699,63.0,1,2.0,NaN,NaN,NaN,2.0,0.0,NaN,4.0,...,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

Tirando a mediana da idade, e atribuindo aos valores faltantes.

In [386]:
mediana = df["AGE"].median()
print(mediana)
df["AGE"].fillna(mediana, inplace=True)
existem_nulos = df["AGE"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna")
else:
    print("Não existem valores nulos na coluna.")

63.0
Não existem valores nulos na coluna.

In [387]:
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [388]:
moda = df["INF_ANAM"].mode().values[0]
print("moda =",moda)
df["INF_ANAM"].fillna(moda, inplace=True)
existem_nulos = df["INF_ANAM"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [389]:
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [390]:
moda = df["STENOK_AN"].mode().values[0]
print("moda =",moda)
df["STENOK_AN"].fillna(moda, inplace=True)
existem_nulos = df["STENOK_AN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [391]:
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [392]:
moda = df["FK_STENOK"].mode().values[0]
print("moda =",moda)
df["FK_STENOK"].fillna(moda, inplace=True)
existem_nulos = df["FK_STENOK"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [393]:
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [394]:
moda = df["IBS_POST"].mode().values[0]
print("moda =",moda)
df["IBS_POST"].fillna(moda, inplace=True)
existem_nulos = df["IBS_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [395]:
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [396]:
moda = df["GB"].mode().values[0]
print("moda =",moda)
df["GB"].fillna(moda, inplace=True)
existem_nulos = df["GB"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 2.0
Não existem valores nulos na coluna.

In [397]:
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [398]:
moda = df["SIM_GIPERT"].mode().values[0]
print("moda =",moda)
df["SIM_GIPERT"].fillna(moda, inplace=True)
existem_nulos = df["SIM_GIPERT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [399]:
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [400]:
moda = df["DLIT_AG"].mode().values[0]
print("moda =",moda)
df["DLIT_AG"].fillna(moda, inplace=True)
existem_nulos = df["DLIT_AG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [401]:
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [402]:
moda = df["ZSN_A"].mode().values[0]
print("moda =",moda)
df["ZSN_A"].fillna(moda, inplace=True)
existem_nulos = df["ZSN_A"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [403]:
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [404]:
moda = df["nr_11"].mode().values[0]
print("moda =",moda)
df["nr_11"].fillna(moda, inplace=True)
existem_nulos = df["nr_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [405]:
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [406]:
moda = df["nr_01"].mode().values[0]
print("moda =",moda)
df["nr_01"].fillna(moda, inplace=True)
existem_nulos = df["nr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [407]:
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [408]:
moda = df["nr_02"].mode().values[0]
print("moda =",moda)
df["nr_02"].fillna(moda, inplace=True)
existem_nulos = df["nr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [409]:
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [410]:
moda = df["nr_03"].mode().values[0]
print("moda =",moda)
df["nr_03"].fillna(moda, inplace=True)
existem_nulos = df["nr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [411]:
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [412]:
moda = df["nr_04"].mode().values[0]
print("moda =",moda)
df["nr_04"].fillna(moda, inplace=True)
existem_nulos = df["nr_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [413]:
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [414]:
moda = df["nr_07"].mode().values[0]
print("moda =",moda)
df["nr_07"].fillna(moda, inplace=True)
existem_nulos = df["nr_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [415]:
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [416]:
moda = df["nr_08"].mode().values[0]
print("moda =",moda)
df["nr_08"].fillna(moda, inplace=True)
existem_nulos = df["nr_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [417]:
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [418]:
moda = df["np_01"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [419]:
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [420]:
moda = df["np_04"].mode().values[0]
print("moda =",moda)
df["np_04"].fillna(moda, inplace=True)
existem_nulos = df["np_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [421]:
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [422]:
moda = df["np_05"].mode().values[0]
print("moda =",moda)
df["np_05"].fillna(moda, inplace=True)
existem_nulos = df["np_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [423]:
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [424]:
moda = df["np_07"].mode().values[0]
print("moda =",moda)
df["np_07"].fillna(moda, inplace=True)
existem_nulos = df["np_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [425]:
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [426]:
moda = df["np_08"].mode().values[0]
print("moda =",moda)
df["np_08"].fillna(moda, inplace=True)
existem_nulos = df["np_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [427]:
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [428]:
moda = df["np_09"].mode().values[0]
print("moda =",moda)
df["np_09"].fillna(moda, inplace=True)
existem_nulos = df["np_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [429]:
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [430]:
moda = df["np_10"].mode().values[0]
print("moda =",moda)
df["np_10"].fillna(moda, inplace=True)
existem_nulos = df["np_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [431]:
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [432]:
moda = df["endocr_01"].mode().values[0]
print("moda =",moda)
df["endocr_01"].fillna(moda, inplace=True)
existem_nulos = df["endocr_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [433]:
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [434]:
moda = df["endocr_02"].mode().values[0]
print("moda =",moda)
df["endocr_02"].fillna(moda, inplace=True)
existem_nulos = df["endocr_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [435]:
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [436]:
moda = df["endocr_03"].mode().values[0]
print("moda =",moda)
df["endocr_03"].fillna(moda, inplace=True)
existem_nulos = df["endocr_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [437]:
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [438]:
moda = df["zab_leg_01"].mode().values[0]
print("moda =",moda)
df["zab_leg_01"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [439]:
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [440]:
moda = df["zab_leg_02"].mode().values[0]
print("moda =",moda)
df["zab_leg_02"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [441]:
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [442]:
moda = df["zab_leg_03"].mode().values[0]
print("moda =",moda)
df["zab_leg_03"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [443]:
existem_nulos = df["zab_leg_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [444]:
moda = df["zab_leg_04"].mode().values[0]
print("moda =",moda)
df["zab_leg_04"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [445]:
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [446]:
moda = df["zab_leg_06"].mode().values[0]
print("moda =",moda)
df["zab_leg_06"].fillna(moda, inplace=True)
existem_nulos = df["zab_leg_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [447]:
existem_nulos = df["S_AD_KBRIG"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

A coluna "S_AD_KBRIG" e "D_AD_KBRIG" tem cerca de 63% de dados faltantes

In [448]:
existem_nulos = df["S_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [449]:
mediana = df["S_AD_ORIT"].median()
print("mediana =",mediana)
df["S_AD_ORIT"].fillna(mediana, inplace=True)
existem_nulos = df["S_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

mediana = 130.0
Não existem valores nulos na coluna.

In [450]:
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [451]:
mediana = df["D_AD_ORIT"].median()
print("mediana =",mediana)
df["D_AD_ORIT"].fillna(mediana, inplace=True)
existem_nulos = df["D_AD_ORIT"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

mediana = 80.0
Não existem valores nulos na coluna.

In [452]:
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [453]:
moda = df["O_L_POST"].mode().values[0]
print("moda =",moda)
df["O_L_POST"].fillna(moda, inplace=True)
existem_nulos = df["O_L_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [454]:
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [455]:
moda = df["K_SH_POST"].mode().values[0]
print("moda =",moda)
df["K_SH_POST"].fillna(moda, inplace=True)
existem_nulos = df["K_SH_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [456]:
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [457]:
moda = df["MP_TP_POST"].mode().values[0]
print("moda =",moda)
df["MP_TP_POST"].fillna(moda, inplace=True)
existem_nulos = df["MP_TP_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [458]:
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [459]:
moda = df["SVT_POST"].mode().values[0]
print("moda =",moda)
df["SVT_POST"].fillna(moda, inplace=True)
existem_nulos = df["SVT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [460]:
existem_nulos = df["GT_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [461]:
moda = df["GT_POST"].mode().values[0]
print("moda =",moda)
df["np_01"].fillna(moda, inplace=True)
existem_nulos = df["np_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [462]:
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [463]:
moda = df["FIB_G_POST"].mode().values[0]
print("moda =",moda)
df["FIB_G_POST"].fillna(moda, inplace=True)
existem_nulos = df["FIB_G_POST"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [464]:
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [465]:
moda = df["ant_im"].mode().values[0]
print("moda =",moda)
df["ant_im"].fillna(moda, inplace=True)
existem_nulos = df["ant_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [466]:
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [467]:
moda = df["lat_im"].mode().values[0]
print("moda =",moda)
df["lat_im"].fillna(moda, inplace=True)
existem_nulos = df["lat_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [468]:
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [469]:
moda = df["inf_im"].mode().values[0]
print("moda =",moda)
df["inf_im"].fillna(moda, inplace=True)
existem_nulos = df["inf_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [470]:
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [471]:
moda = df["post_im"].mode().values[0]
print("moda =",moda)
df["post_im"].fillna(moda, inplace=True)
existem_nulos = df["post_im"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [472]:
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [473]:
moda = df["IM_PG_P"].mode().values[0]
print("moda =",moda)
df["IM_PG_P"].fillna(moda, inplace=True)
existem_nulos = df["IM_PG_P"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [474]:
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [475]:
moda = df["ritm_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [476]:
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [477]:
moda = df["ritm_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [478]:
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [479]:
moda = df["ritm_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [480]:
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [481]:
moda = df["ritm_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [482]:
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [483]:
moda = df["ritm_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [484]:
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [485]:
moda = df["ritm_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["ritm_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["ritm_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [486]:
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [487]:
moda = df["n_r_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [488]:
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [489]:
moda = df["n_r_ecg_p_02"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_02"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [490]:
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [491]:
moda = df["n_r_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [492]:
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [493]:
moda = df["n_r_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [494]:
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [495]:
moda = df["n_r_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [496]:
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [497]:
moda = df["n_r_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [498]:
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [499]:
moda = df["n_r_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [500]:
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [501]:
moda = df["n_r_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [502]:
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [503]:
moda = df["n_r_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_r_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_r_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [504]:
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [505]:
moda = df["n_p_ecg_p_01"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_01"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [506]:
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [507]:
moda = df["n_p_ecg_p_03"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_03"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [508]:
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [509]:
moda = df["n_p_ecg_p_04"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_04"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_04"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [510]:
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [511]:
moda = df["n_p_ecg_p_05"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_05"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [512]:
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [513]:
moda = df["n_p_ecg_p_06"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_06"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [514]:
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [515]:
moda = df["n_p_ecg_p_07"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_07"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [516]:
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [517]:
moda = df["n_p_ecg_p_08"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_08"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [518]:
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [519]:
moda = df["n_p_ecg_p_09"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_09"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_09"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [520]:
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [521]:
moda = df["n_p_ecg_p_10"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_10"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_10"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [522]:
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [523]:
moda = df["n_p_ecg_p_11"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_11"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_11"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [524]:
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [525]:
moda = df["n_p_ecg_p_12"].mode().values[0]
print("moda =",moda)
df["n_p_ecg_p_12"].fillna(moda, inplace=True)
existem_nulos = df["n_p_ecg_p_12"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [526]:
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [527]:
moda = df["fibr_ter_01"].mode().values[0]
print("moda =",moda)
df["fibr_ter_01"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_01"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [528]:
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [529]:
moda = df["fibr_ter_02"].mode().values[0]
print("moda =",moda)
df["fibr_ter_02"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_02"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [530]:
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [531]:
moda = df["fibr_ter_03"].mode().values[0]
print("moda =",moda)
df["fibr_ter_03"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_03"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [532]:
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [533]:
moda = df["fibr_ter_05"].mode().values[0]
print("moda =",moda)
df["fibr_ter_05"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_05"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [534]:
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [535]:
moda = df["fibr_ter_06"].mode().values[0]
print("moda =",moda)
df["fibr_ter_06"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_06"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [536]:
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [537]:
moda = df["fibr_ter_07"].mode().values[0]
print("moda =",moda)
df["fibr_ter_07"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_07"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [538]:
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [539]:
moda = df["fibr_ter_08"].mode().values[0]
print("moda =",moda)
df["fibr_ter_08"].fillna(moda, inplace=True)
existem_nulos = df["fibr_ter_08"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [540]:
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [541]:
moda = df["LID_S_n"].mode().values[0]
print("moda =",moda)
df["LID_S_n"].fillna(moda, inplace=True)
existem_nulos = df["LID_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [542]:
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [543]:
moda = df["B_BLOK_S_n"].mode().values[0]
print("moda =",moda)
df["B_BLOK_S_n"].fillna(moda, inplace=True)
existem_nulos = df["B_BLOK_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [544]:
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [545]:
moda = df["ANT_CA_S_n"].mode().values[0]
print("moda =",moda)
df["ANT_CA_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ANT_CA_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [546]:
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [547]:
moda = df["GEPAR_S_n"].mode().values[0]
print("moda =",moda)
df["GEPAR_S_n"].fillna(moda, inplace=True)
existem_nulos = df["GEPAR_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [548]:
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [549]:
moda = df["ASP_S_n"].mode().values[0]
print("moda =",moda)
df["ASP_S_n"].fillna(moda, inplace=True)
existem_nulos = df["ASP_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 1.0
Não existem valores nulos na coluna.

In [550]:
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [551]:
moda = df["TIKL_S_n"].mode().values[0]
print("moda =",moda)
df["TIKL_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TIKL_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [552]:
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [553]:
moda = df["TRENT_S_n"].mode().values[0]
print("moda =",moda)
df["TRENT_S_n"].fillna(moda, inplace=True)
existem_nulos = df["TRENT_S_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [554]:
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [555]:
moda = df["R_AB_1_n"].mode().values[0]
print("moda =",moda)
df["R_AB_1_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [556]:
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [557]:
moda = df["NA_R_1_n"].mode().values[0]
print("moda =",moda)
df["NA_R_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [558]:
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [559]:
moda = df["NOT_NA_1_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_1_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_1_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [560]:
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [561]:
moda = df["R_AB_2_n"].mode().values[0]
print("moda =",moda)
df["R_AB_2_n"].fillna(moda, inplace=True)
existem_nulos = df["R_AB_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [562]:
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [563]:
moda = df["NA_R_2_n"].mode().values[0]
print("moda =",moda)
df["NA_R_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [564]:
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [565]:
moda = df["NOT_NA_2_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_2_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_2_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [566]:
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [567]:
moda = df["NA_R_3_n"].mode().values[0]
print("moda =",moda)
df["NA_R_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NA_R_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [568]:
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

Existem valores nulos na coluna.

In [569]:
moda = df["NOT_NA_3_n"].mode().values[0]
print("moda =",moda)
df["NOT_NA_3_n"].fillna(moda, inplace=True)
existem_nulos = df["NOT_NA_3_n"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0.0
Não existem valores nulos na coluna.

In [570]:
mediana = df["L_BLOOD"].median()
print("mediana =",mediana)
df["L_BLOOD"].fillna(mediana, inplace=True)
existem_nulos = df["L_BLOOD"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

mediana = 8.0
Não existem valores nulos na coluna.

In [571]:
moda = df["ZSN"].mode().values[0]
print("moda =",moda)
df["ZSN"].fillna(moda, inplace=True)
existem_nulos = df["ZSN"].isna().any().any()

if existem_nulos:
    print("Existem valores nulos na coluna.")
else:
    print("Não existem valores nulos na coluna.")

moda = 0
Não existem valores nulos na coluna.

In [572]:
dataset_teste = 'dataset_teste.csv' 
df.to_csv(dataset_teste, index=False)

In [573]:
df.head(1700)

,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,GB,SIM_GIPERT,DLIT_AG,ZSN_A,...,NOT_NA_2_n,NOT_NA_3_n,LID_S_n,B_BLOK_S_n,ANT_CA_S_n,GEPAR_S_n,ASP_S_n,TIKL_S_n,TRENT_S_n,ZSN
0,77.0,1,2.0,1.0,1.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0
1,55.0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0
2,52.0,1,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,2.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0
3,68.0,0,0.0,0.0,0.0,2.0,2.0,0.0,3.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1
4,60.0,1,0.0,0.0,0.0,2.0,3.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1695,77.0,0,0.0,4.0,2.0,1.0,2.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1696,70.0,0,0.0,6.0,2.0,1.0,2.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1697,55.0,1,3.0,6.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0
1698,79.0,0,2.0,2.0,2.0,1.0,2.0,0.0,7.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0
1699,63.0,1,2.0,0.0,2.0,2.0,2.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0